{% extends "base.html" %}
{% block content %}
<h2>Dashboard</h2>
<div class="row">
    <div class="col-md-4">
        <div class="alert alert-success">Total Income: ₹{{ income }}</div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-danger">Total Expenses: ₹{{ expense }}</div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-info">Balance: ₹{{ balance }}</div>
    </div>
</div>

{% if show_warning %}
<div class="alert alert-warning mt-3" role="alert">
    ⚠️ Your balance ₹{{ balance }} is below your minimum set balance ₹{{ current_user.min_balance }}. Please review your expenses!
</div>
{% endif %}
{% endblock %}
